{
 hello (println "Hello World!")

 hello2 #$ ["echo" "Hello" "World!"]

 target-dir {target "target"
             novelty (not (mach.core/file-exists? target))
             update! #$ ["mkdir" target]
             clean! #$ ["rmdir" target]}

 classes-dir {target "target/classes"
              depends [target-dir]
              update! #$ ["mkdir" target]}

 classes {target "target/classes"
          ;; Here novelty is defined directly, not via reference to dependencies
          depends [classes-dir]
          novelty (mach.core/modified-since target "src")
          update! #$$ ["javac -d" target novelty]}

 sass {dir "sass"}

 css {target "target/app.css"
      depends [target-dir]
      novelty (mach.core/modified-since target #ref [sass dir])
      update! (apply mach.core/sh (concat ["sassc"] novelty [">" target]))}

 jar {target "target/foo.jar"
      depends [target-dir classes css]
      novelty (concat
               (filter
                (partial mach.core/modified-since? (mach.core/last-modified target))
                #ref [classes target])
               (filter
                (partial mach.core/modified-since? (mach.core/last-modified target))
                #ref [css target]))
      update! (if (mach.core/file-exists? target)
                #$$ ["jar uf" target novelty]
                #$ ["jar cf" target #ref [classes target]])}

 clean {depends [jar:clean]}
 }
