{
 hello (println "Hello World!")

 hello2 #$ ["echo" "Hello" "World!"]

 src {dir "src"}

 classes {dir "target/classes"
          ;; Here novelty is defined directly, not via reference to dependencies
          novelty (mach.core/modified-since dir #ref [src dir])
          update! (do
                    #$ ["mkdir -p" dir]
                    #$$ ["javac -d" dir novelty])}

 sass {dir "sass"}

 target {dir "target"
         novelty (not (mach.core/file-exists? dir))
         update! #$ ["mkdir" dir]}

 css {target "target/app.css"
      depends [target]
      novelty (mach.core/modified-since target #ref [sass dir])
      update! (apply mach.core/sh (concat ["sassc"] novelty [">" target]))}

 jar {target "target/foo.jar"
      depends [classes css]
      novelty (concat
               (filter
                (partial mach.core/modified-since? (mach.core/last-modified target))
                #ref [classes dir])
               (filter
                (partial mach.core/modified-since? (mach.core/last-modified target))
                #ref [css target]))
      update! (if (mach.core/file-exists? target)
                #$$ ["jar uf" target novelty]
                #$ ["jar cf" target #ref [classes dir]])}

 clean (do (println "Cleaning project")
           #$ ["rm" "-rf" "target"])

 config (mach.core/config)
 }
