{mach/init (do (when (not (mach.core/file-exists? ".mach/roll"))
                 #$ ["git" "clone" "https://github.com/juxt/roll" ".mach/roll"])
               #cp ".mach/roll/src"
               (require 'roll.core))}
