{mach/import [["https://raw.githubusercontent.com/juxt/mach/master/extensions/aws.mach.edn" {aws-profile "juxt"} :as aws]]

 ;; Currently being reworked:
 ;; bar #import [ext1/bar {name "name-1"}]
 }
