{mach/npm [["request" "2.81.0"]]

 mach/init (do
             (require '[cljs.core.async :refer [<! >! chan]])
             (def request (js/require "request")))

 fetch (let [c (chan)]
         (request "http://www.google.com" (fn [error response body]
                                            (cljs.core.async.macros/go
                                              (>! c (.-statusCode response)))))
         (println "Got" (<! c)))}
